<footer class="cont-footer">
<form action="" class="footer-form" novalidate="novalidate">
    <div class="grid-footer">
        <div class="footer-in">
            <p class="email-singup">
                Recibi Nuestros Correos
            </p>
            <p class="email-singup-texto">
               ¡Regístrese para recibir correos electrónicos de TB y obtenga los primeros datos sobre nuevas llegadas, ventas, contenido exclusivo, eventos y más!
            </p>
        </div>
        <div class="formulario-footer">
            <label for="email-singup-email" class="email-adress">Dirección de Correo Electrónico *</label>
            <input type="email" required="required" name="email"
            class="formulario-email">
        </div>
        <div class="footer-button">
            <button type="submit" class="footer-b-registra">Regístrate</button>
        </div>
    </div>
  <div class="email-politica">
      <p class="text-politica">
        Al ingresar su dirección de correo electrónico, acepta recibir ofertas, promociones y otros mensajes comerciales de TB.
      </p>
  </div>  
</form>
<div class="footer-link">
    <div class="link-ubicacion">
        <a href="#" class="footer-link-ubicacion">
            Locales
        </a>
    </div>
    <div class="link-ubicacion">
        <a href="#" class="footer-link-ubicacion">
            Ayuda + Info
        </a>
    </div>
</div>
<div class="footer-redes-sociailes">
    <a href="URL" target="_blank" class="iconos-redes-sociales"><img alt="Sígueme en Facebook!" height="35" width="35" class="img-redes" src="https://2.bp.blogspot.com/-28mh2hZK3HE/XCrIxxSCW0I/AAAAAAAAH_M/XniFGT5c2lsaVNgf7UTbPufVmIkBPnWQQCLcBGAs/s1600/facebook.png" title="Encontranos en Facebook!"/></a>
    <a href="URL" target="_blank" class="iconos-redes-sociales"><img alt="Sígueme en Instagram!" height="35" width="35" class="img-redes" src="https://4.bp.blogspot.com/-Ilxti1UuUuI/XCrIy6hBAcI/AAAAAAAAH_k/QV5KbuB9p3QB064J08W2v-YRiuslTZnLgCLcBGAs/s1600/instagram.png" title="Encontranos en Instagram!"/></a>
    <a href="URL" target="_blank" class="iconos-redes-sociales"><img alt="Sígueme en Pinterest!" height="35" width="35" class="img-redes" src="https://2.bp.blogspot.com/-Wj323AJ6a1I/XCrI0TVemfI/AAAAAAAAH_8/1kPTW8MnLogkWg5rz9tAuUosAymonUIBQCLcBGAs/s1600/pinterest.png" title="Encontranos en Pinterest!"/></a>
    <a href="URL" target="_blank" class="iconos-redes-sociales"><img alt="Sígueme en Twitter!" height="35" width="35" class="img-redes" src="https://3.bp.blogspot.com/-E4jytrbmLbY/XCrI2Xd_hUI/AAAAAAAAIAo/qXt-bJg1UpMZmTjCJymxWEOGXWEQ2mv3ACLcBGAs/s1600/twitter.png" title="Encontranos en Twitter!"/></a>
    <a href="URL" target="_blank" class="iconos-redes-sociales"><img alt="Sígueme en Spotify!" height="35" width="35" class="img-redes" src="https://2.bp.blogspot.com/-hlph7m-kz30/XCrI16dhYcI/AAAAAAAAIAc/y2kbEeUjMLMMJ1LiZqfjf0azF816RXzPwCLcBGAs/s1600/spotify.png" title="Encontranos en Spotify!"/></a>
</div>
</footer>