<header class="cont-header">
        <div class="notificacion">
           <p class="noticia-promo">
            <%= mensaje %> 
           </p>
           <marquee class="noticia-promo-desktop" behavior="" direction="">
               <%= mensaje %>   
           </marquee>
           <a href="/detalles-info" class="noticia-promo-link">Detalles</a>
       </div>
       <div>
           <div class="nav-header"> 
               <div class="nav-menu">
                   <input class="menu-btn" type="checkbox" id="menu-btn"/>
                   <label class="menu-icon" for="menu-btn"><span class="nav-icon"></span></label>
                   <!-- aca te puse tu logo ya lo hice andar -->   
                   <ul class="menu">
                            <li>
                                <a href="/mujer" class="nav-categorias">Mujeres</a>
                            </li>
                            <li>
                                <a href="/hombre" class="nav-categorias">Hombres</a>
                            </li>
                            <li>
                                <a href="/users/login" class="nav-categorias nav-inicar-s ">Iniciar Sesion</a>
                            </li>
                        </ul>
                </div>
                <div class="logo-header">
                    <a href="/"><img src="/images/logo4.png" alt="logo" class="img-logo"></a>
                    <a href="/"><img src="/images/logodesktop.png" alt="logo" class="img-logo-desktop"></a>
                </div>  
                <div class="utilidades-header">
                    <form class="form-inline">
                        <i class="fas fa-search" aria-hidden="true"></i>
                        <input class="form-control form-control-sm ml-3 w-75" type="text" placeholder="Buscar..."
                          aria-label="Search">
                    </form> 
                    <a href="/users/login" class="boton-iniciar-sesion">Iniciar Sesion</a>
                    <div class="carrito-sitio">
                        <a href="/carrito" class="c-pwa-site-basket__link router-link-exact-active router-link-active c-pwa-site-basket__link c-pwa-link c-pwa-link--client">
                            <span aria-label="My Shopping Bag" class="c-pwa-count-badge c-pwa-site-basket__cart-count">0</span>
                            <span aria-label="My Shopping Bag" class="c-pwa-site-basket__cart-count-plus">+</span> 
                            <span class="c-pwa-site-basket__icon c-pwa-icon">
                                <svg viewBox="1 -2 18 20" xmlns="http://www.w3.org/2000/svg" aria-label="Bag" role="img" focusable="false">
                                    <path fill="none" d="M3 7v7.136L4.878 16H15.11l1.852-1.855V7H6zm9.416-5.021L11.327 1H9.093L8 1.979v4.019h4.416z">
                                    </path><path d="M14 6h-.585V1.533L11.711 0H8.712L7 1.532V6H2v8.551L4.465 17h11.06l2.438-2.441V6H14zM8 1.979L9.093 1h2.233l1.089.979v4.019H8V1.979zm8.962 12.166L15.11 16H4.878L3 14.136V7h13.962v7.145z"></path>
                                </svg>
                            </span>
                        </a>
                    </div>
                </div>  
         </div>  
        </div>    
</header>