<header class="cont-header">
        <div class="notificacion">
           <p class="noticia-promo">
            <%= mensaje %> 
           </p>
           <marquee class="noticia-promo-desktop" behavior="" direction="">
               <%= mensaje %>   
           </marquee>
           <a href="#" class="noticia-promo-link">Detalles</a>
       </div>
       <div>
           <div class="nav-header"> 
               <div class="nav-menu">
                   <input class="menu-btn" type="checkbox" id="menu-btn"/>
                   <label class="menu-icon" for="menu-btn"><span class="nav-icon"></span></label>
                   <!-- aca te puse tu logo ya lo hice andar -->   
                   <ul class="menu">
                            <li>
                                <a href="/mujer" class="nav-categorias">Mujeres</a>
                            </li>
                            <li>
                                <a href="/hombre" class="nav-categorias">Hombres</a>
                            </li>
                            <li>
                                <a href="/children" class="nav-categorias">Niños</a>
                            </li>
                            <li class="nav-desktop-categorias">
                                <a href="/accesorios" class="nav-categorias">Accesorios</a>
                            </li >
                            <li>
                                <a href="#" class="nav-categorias"><span>Sale</span></a>
                            </li>
                            <li class="desktop-no">
                                <a href="/login" class="nav-categorias" >Iniciar Sesión</a>
                            </li>
                        </ul>
                </div>
                <div class="logo-header">
                    <a href="/"><img src="/images/logo4.png" alt="logo" class="img-logo"></a>
                    <a href="/"><img src="/images/logodesktop.png" alt="logo" class="img-logo-desktop"></a>
                </div>  
                <div class="utilidades-header">
                    <img src="/images/carrito.png" alt="carrito" class="utilidades-header-buscador">
                    <img src="/images/escritoriobuscar.png" alt="carrito" class="utilidades-header-buscador-desktop">
                </div>     
         </div>  
        </div>    
</header>
