<header class="cont-header">
        <div class="notificacion">
           <p class="noticia-promo">
            <%= mensaje %> 
           </p>
           <marquee class="noticia-promo-desktop" behavior="" direction="">
               <%= mensaje %>   
           </marquee>
           <a href="/detalles-info" class="noticia-promo-link">Detalles</a>
       </div>
       <div>
           <div class="nav-header"> 
               <div class="nav-menu">
                   <input class="menu-btn" type="checkbox" id="menu-btn"/>
                   <label class="menu-icon" for="menu-btn"><span class="nav-icon"></span></label>
                   <!-- aca te puse tu logo ya lo hice andar -->   
                   <ul class="menu">
                            <li>
                                <a href="/mujer" class="nav-categorias">Mujeres</a>
                            </li>
                            <li>
                                <a href="/hombre" class="nav-categorias">Hombres</a>
                            </li>
                            <li>
                                <a href="/users/login" class="nav-categorias nav-inicar-s">Iniciar Sesion</a>
                            </li>
                        </ul>
                </div>
                <div class="logo-header">
                    <a href="/"><img src="/images/logo4.png" alt="logo" class="img-logo"></a>
                    <a href="/"><img src="/images/logodesktop.png" alt="logo" class="img-logo-desktop"></a>
                </div>  
                <div class="utilidades-header">
                    <form class="form-inline">
                        <i class="fas fa-search" aria-hidden="true"></i>
                        <input class="form-control form-control-sm ml-3 w-75" type="text" placeholder="Buscar"
                          aria-label="Search">
                    </form>
                      
                    <a href="/users/login" class="boton-iniciar-sesion">Iniciar Sesion</a>
                </div>     
         </div>  
        </div>    
</header>
