<!DOCTYPE html>
<html lang="en">
    <link rel="stylesheet" href="/stylesheets/carrito.css">
 

<body class="carritobody">
    
    <main>
        <section>
            <div class="carritodecompra"><h2>CARRITO DE COMPRA</h2></div>
            <div class="carritoconproductos">El carrito de compras está actualmente vacio.<a href="/">Seguir comprando</a></div>
        <div class="contenedorcarrito">
            <article class="resumendecompra">
                <div class="resumen_div">
                    <h3>RESUMEN DE COMPRA</h3><br>
                    <p>Productos: </p><br>
                    <p>Shipping: </p><br>
                </div>
                <div class="total_div">
                    <h4>TOTAL</h4>
                <button class="continuarbutton">Continuar</button>
                </div>
            </article>
        </div>
        <div class="entregaopciones"><a href="/detalles-info">Opciones de entrega</a></div>
    </section>
    </main>
    <%- include('./partials/footer.ejs') %>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script> 
</body>
</html>