<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head.ejs') %> 
<body>
    <%- include('./partials/header.ejs') %>

        <p class="gracias-comprar" style="">¡Gracias por su compra!</p>
        <p style="text-align: center; padding-bottom: 10%;"> Haga click en el logo de nuestra pagina  para volver al inicio.</p>
    <%- include('./partials/footer.ejs') %>
</body>