<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head.ejs') %> 
<body>
    <%- include('./partials/header.ejs') %>

        <p style="text-align: center; padding-top: 15%; padding-bottom: 4px;">gracias por su compra...</p>
        <p style="text-align: center; padding-bottom: 10%;"> haga click en el logo de nuestra pagina  para volver al inicio</p>
    <%- include('./partials/footer.ejs') %>