<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/crear-cuenta.css">
    <%- include('./partials/head.ejs') %> 
</head>
<body class="body">
<%- include('./partials/header.ejs') %> 
    <div class="wrap">
        <!-- <img src="/images2/logo4.png" alt=""> -->
    <form class="box" action="/users/register" method="POST" enctype="multipart/form-data"> 

        <div class="container2">
        <h1>Registrate</h1>
            <label for="Nombre" class="titulos"> Tu Nombre</label>
            <br>
        
            <input type="text" placeholder="Nombre(s)" name="Nombre">
            <br>
        
            <input type="text" placeholder="Apellido(s)" name="Apellido">
            <br>
        </div>
        <div>
            <label for="FechaDeNacimiento" class="titulos"> Fecha De Nacimiento</label>
            <br>
        
            <input type="number"  placeholder="DD" min="1" max="31">
            <input type="number"  placeholder="MM" min="1" max="12">
            <input type="number"  placeholder="YYYY" min="1" max="2000">
            <br>
        </div>
        
        <p>Recopilamos la fecha de nacimiento de acuerdo a nuestro aviso de privacidad. <br> ¡Te haremos un regalo por tu cumpleaños!</p>
        
        <div class="radiogenero">
            <h2>Genero</h2>
            <!-- <label for="Sexo" class="titulos">Sexo</label>
            <br> -->
        
            <input type="radio" id="hombre" name="genero" value="hombre">
            <label for="hombre">Hombre</label>

            <input type="radio" id="Mujer" name="genero" value="Mujer">
            <label for="Mujer">Mujer</label>

            <input type="radio" id="otro" name="genero" value="otro">
            <label for="otro">Otro</label>

        </div>
        
        <br>
        
        <label for="datos" class="titulos">Datos De Acceso</label>
        <br>
        
        <input type="email" name="email" placeholder="Correo Electronico">
        <!-- <br>
        <br> -->
        <input type="password" name="contraseña" placeholder="Contraseña">
        <br>
        <label for=""> subi tu foto de perfil</label>
        <input type="file" name="avatar">
        
        <div class="aceptarterminos">
            <input type="checkbox" name="checkbox" id="notificaciones">
            <label for="notificaciones">Me gustaria recibir noticias sobre productos y servicios</label>
            <br>
        
            <input type="checkbox" name="checkbox" id="terminos">
            <label for="terminos">Al registrarte,aceptas los Terminos y Condiciones y el Aviso de Privacidad</label>
        <br>

        </div>

        <input class="registrarse" type="submit" value="Registrate">

        <a  class="href" href="https://es-la.facebook.com/login/">Inicia Sesion con Facebook</a>
        <a class="href" href="https://accounts.google.com/ServiceLogin/signinchooser?continue=https%3A%2F%2Fwww.google.com.ar%2F&hl=es-419&flowName=GlifWebSignIn&flowEntry=ServiceLogin">Inicia Sesion con Google</a>
        <p>¿Ya tenes una cuenta? Iniciar Sesión</p> 
        </div>
</form>
</div>
<!-- <%- include('./partials/footer.ejs') %>  -->
</body>

</html>