<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href='/stylesheets/styleindex.css'>
    <link rel="stylesheet" href="/stylesheets/crear-cuenta.css">
    
</head>
<body >
<%- include('./partials/header.ejs') %>  
    <div class="wrap">
          
        <!-- <img src="/images2/logo4.png" alt=""> -->
    <form class="box" action="/users/register" method="POST" enctype="multipart/form-data"> 
        
        <div class="container2">
            <% if (typeof errors != "undefined") { %>
                <% errors.forEach(error => { %>
                 <h2><%= error.msg %></h2>
                  <% }) %>
                <% } %>
        <label for="datos" class="titulos">Datos De Acceso</label>
        <label for="datos" class="titulos">email</label>
        
        
        <input  id="email" type="email" name="email"  placeholder="Correo Electronico" >
        <input id="contrasena" type="password" name="contrasena"  placeholder="contrasena" >
        
        <label for="" class="subir-foto-perfil"> Subi tu foto de perfil</label>
        <input type="file" name="avatar" >
        
        

        <button class="registrarse" type="submit" >Registate </button>

        <a  class="href-i" href="https://es-la.facebook.com/login/">Inicia Sesion con Facebook</a>
        <a class="href-i" href="https://accounts.google.com/ServiceLogin/signinchooser?continue=https%3A%2F%2Fwww.google.com.ar%2F&hl=es-419&flowName=GlifWebSignIn&flowEntry=ServiceLogin">Inicia Sesion con Google</a>
        <p class="iniciar-sesion">¿Ya tenes una cuenta? <a href="/users/login" >Iniciar Sesión</a></p> 
        
        </div>
    </form>
    
</div>
<%- include('./partials/footer.ejs') %> 
</body>
</html>