<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/stylesheets/crear-cuenta.css">
</head>
<body class="body">
    <form action="index.ejs" method="POST">
        <div class="container2">
        <h1 class="titulos">Registrate</h1>
        <p>
            <h2 class="titulos">Tu Nombre</h2>
        <input type="text" placeholder="Nombre(s)" name="Nombre">
        <input type="text" placeholder="Apellido(s)" name="Apellido">
        </p>
        <p>
        <h2 class="titulos">Fecha de Nacimiento</h2>
        <input type="number"  placeholder="DD" min="1" max="31">
        <input type="number"  placeholder="MM" min="1" max="12">
        <input type="number"  placeholder="YYYY" min="1" max="2000">
        </p>
        
        <p>Recopilamos la fecha de nacimiento de acuerdo a nuestro aviso de privacidad.  ¡Te haremos un regalo por tu cumpleaños!</p>
        <p>
        <h2 class="titulos">Sexo</h2>
        <input type="radio" id="hombre" name="genero" value="hombre">
        <label for="hombre">Hombre</label>
        <input type="radio" id="Mujer" name="genero" value="Mujer">
        <label for="Mujer">Mujer</label>
        <input type="radio" id="otro" name="genero" value="otro">
        <label for="otro">Otro</label>
        </p>
        <p>
        <h2 class="titulos">Datos de Acceso</h2>
        <input type="text" placeholder="Correo Electronico">
        <input type="text" placeholder="Contraseña">
        </p>
        <p>
        <input type="checkbox">
        <label for="notificaciones">Me gustaria recibir noticias sobre productos y servicios</label>
        </p>
        <p>
        <input type="checkbox">
        <label for="terminos">He leido y acepto los Terminos y Condiciones y el Aviso de Privacidad</label>
        </p>
        
        <input class="registrarse" type="submit" value="Registrate" href="index.ejs">
    </div>
</form>
    
</body>

</html>