<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head.ejs') %> 
<body>
    <%- include('./partials/header.ejs') %> 
    <main class="main-detalles-info">
        <div class="nav-prenda">
            <div class="prenda-grilla">
                <nav role="navigation" aria-label="breadcrumb navigation" class="una-prenda">
                    <ol class="lista-mujer">
                        <li class="ruta-mujer"><a href="/" class="ruta-mujer-link">Inicio</a></li>
                        <li class="ruta-mujer"><span>Información</span></li>
                    </ol>
                </nav>
            </div>
        </div>
        <div class="detalle-info">
            <h1 class="titulo-detalle">Promociones</h1>
            <p class="parrafo-detalle"> Ofrecemos 3 y 6 Cuotas sin Interés y envíos gratis en compras superiores a $1500</p>
            <h1 class="titulo-detalle titulo-margin">Métodos de envío</h1>
            <h2 class="subtitulo-detalle">Información importante:</h2>
            <p class="parrafo-detalle-envio">Las entregas se verán demoradas por la extensión del COVID-19. Por favor contactarse al  +54 9 1123078041 o por correo electrónico a tb.buenosaires@tb.com.</p>
            <p class="parrafo-detalle">El envío será despachado a través del correo.</p>
            <h2 class="subtitulo-detalle subtitulo-margin">Plazos de entrega</h2>
            <p class="parrafo-detalle">Por motivos de público conocimiento los plazos de envío se verán demorados.</p>
            <h2 class="subtitulo-detalle subtitulo-margin">¿Cómo hago para seguir mi envío?</h2>
            <p class="parrafo-detalle">Una vez que el paquete está en camino TB te notificará por e-mail el número de seguimiento de tu compra.</p>
        </div> 
        
    </main>
    <div class="cont-sobre-nosotros">
        <h2 class="sobre-nosotros-titulo">Sobre TB</h2>
        <p class="sobre-nosotros-texto">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur necessitatibus, suscipit error iure tempore impedit distinctio temporibus pariatur laboriosam optio accusantium itaque cumque minima! Consectetur eaque non dolores incidunt cupiditate...</p>
        <a href="#" class="compralo-aqui">
          Leer más aqui
        </a>
      </div>
    <%- include('./partials/footer.ejs') %>
</body>
</html>