<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head.ejs') %> 
<body>
    <%- include('./partials/header.ejs') %> 
    <main class="main-categorias">
        <div class="categoria-generales">
            <div class="categorias-arriba">
                <div class="categoria-izq-arriba">
                    <a href="/shorts-hombre"><img src="../images/shortH2.png" alt="" class="img-categoria"></a> 
                     <div class="cate-titulo">
                         <h1 class="categoria-texto">Shorts</h1>
                     </div>
                 </div>
                 <div class="categoria-derecha-arriba">
                    <a href="/remeras-hombre"><img src="../images/remeraH1.png" alt="" class="img-categoria"></a> 
                     <div class="cate-titulo">
                         <h1 class="categoria-texto">Remeras</h1>
                     </div>
                 </div>
            </div>
            <div class="categorias-abajo">
                <div class="categoria-izq-abajo">
                    <a href="/zapatillas-hombre"><img src="../images/zapatillasH3.png" alt="" class="img-categoria"></a> 
                     <div class="cate-titulo-abajo">
                         <h1 class="categoria-texto">Zapatillas</h1>
                     </div>
                 </div>
                 <div class="categoria-derecha-abajo">
                    <a href="/buzos-hombre"><img src="../images/buzoH1.png" alt="" class="img-categoria"></a> 
                     <div class="cate-titulo-abajo-derecha">
                         <h1 class="categoria-texto">Buzo</h1>
                     </div>
                 </div>
            </div>
        </div>
        <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Categorías
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
              <a class="dropdown-item" href="/nuevo-hombre">Nuevo</a>
              <a class="dropdown-item" href="/remeras-hombre">Remeras</a>
              <a class="dropdown-item" href="/buzos-hombre">Buzos</a>
              <a class="dropdown-item" href="/camperas-hombre">Camperas</a>
              <a class="dropdown-item" href="/pantalones-hombre">Pantalones</a>
              <a class="dropdown-item" href="/shorts-hombre">Shorts</a>
              <a class="dropdown-item" href="/zapatillas-hombre">Zapatillas</a>
              <a class="dropdown-item dropdown-ultimo" href="/sale-hombre">Sale</a>
            </div>
        </div>
        <div class="categoria-desktop">
            <div class="categoria-grillas">
                <div aria-live="polite" class="titulo-categorias">
                    <h1 class="titulo-categorias-titulo">
                    Ropa de Hombre</h1> 
                    <p class="titulo-resultado"><span class="titulo-resultado-cont">
                        4524 resultados</span></p>
                </div>
                <div class="clasificaciones">
                   <div class="clasificaciones-formato">
                       <div class="categoria-left">
                           <h2 class="comprar-por-categoria">
                               Comprar por Categoría:
                           </h2>
                           <div class="categoria-left-nav">
                               <div class="categoria-left-navegador">
                                   <div class="categoria-left-nav-subtitulo">
                                       <a href="/hombre" class="subtitulo-detalles">Todo</a>
                                   </div>
                                   <ul class="cate-left-lista">
                                    <li class="cate-left-lista-items">
                                        <div class="left-nav">
                                            <div class="left-nav-link">
                                                <a href="/nuevo-hombre" class="link-detalles">Nuevo</a>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="cate-left-lista-items">
                                     <div class="left-nav">
                                         <div class="left-nav-link">
                                             <a href="/remeras-hombre" class="link-detalles">Remeras</a>
                                         </div>
                                     </div>
                                 </li>
                                 <li class="cate-left-lista-items">
                                     <div class="left-nav">
                                         <div class="left-nav-link">
                                             <a href="/buzos-hombre" class="link-detalles">Buzos</a>
                                         </div>
                                     </div>
                                 </li>
                                 <li class="cate-left-lista-items">
                                     <div class="left-nav">
                                         <div class="left-nav-link">
                                             <a href="/camperas-hombre" class="link-detalles">Camperas</a>
                                         </div>
                                     </div>
                                 </li>
                                 <li class="cate-left-lista-items">
                                     <div class="left-nav">
                                         <div class="left-nav-link">
                                             <a href="/pantalones-hombre" class="link-detalles">Pantalones</a>
                                         </div>
                                     </div>
                                 </li>
                                 <li class="cate-left-lista-items">
                                     <div class="left-nav">
                                         <div class="left-nav-link">
                                             <a href="/shorts-hombre" class="link-detalles">Shorts</a>
                                         </div>
                                     </div>
                                 </li>
                                 <li class="cate-left-lista-items">
                                    <div class="left-nav">
                                        <div class="left-nav-link">
                                            <a href="/zapatillas-hombre" class="link-detalles">Zapatillas</a>
                                        </div>
                                    </div>
                                </li>
                                 <li class="cate-left-lista-items">
                                     <div class="left-nav">
                                         <div class="left-nav-link">
                                             <a href="/sale-hombre" class="link-detalles">Sale</a>
                                         </div>
                                     </div>
                                 </li>
                                </ul>
                               </div>

                           </div>
                       </div>
                   </div>
                </div>
                <div class="varios-productos-desktop">
                    <div class="detalle-productos-desktop">
                        <div class="cont-img-titulo-desktop">
                            <a href="#"> <img src="../images/variosH1.jpg" alt="foto producto" class="imag-producto">
                            <p class="titulo-producto">
                                Lorem ipsum dolor sit.
                            </p></a>
                            <div>
                                <p class="detalle-precio">$1.500</p>
                                <p class="detalle-colores">5 colores</p>
                            </div>
                        </div>
                    </div>
                    <div class="detalle-productos-desktop">
                        <div class="cont-img-titulo-desktop">
                            <a href="#"> <img src="../images/variosH2.jpg" alt="foto producto" class="imag-producto">
                            <p class="titulo-producto">
                                Lorem ipsum dolor sit.
                            </p></a>
                            <div>
                                <p class="detalle-precio">$1.500</p>
                                <p class="detalle-colores">5 colores</p>
                            </div>
                        </div>
                    </div>
                    <div class="detalle-productos-desktop">
                        <div class="cont-img-titulo-desktop">
                            <a href="#"> <img src="../images/variosH3.jpg" alt="foto producto" class="imag-producto">
                            <p class="titulo-producto">
                                Lorem ipsum dolor sit.
                            </p></a>
                            <div>
                                <p class="detalle-precio">$1.500</p>
                                <p class="detalle-colores">5 colores</p>
                            </div>
                        </div>
                    </div>
                    <div class="detalle-productos-desktop">
                        <div class="cont-img-titulo-desktop">
                            <a href="#"> <img src="../images/variosH4.jpg" alt="foto producto" class="imag-producto">
                            <p class="titulo-producto">
                                Lorem ipsum dolor sit.
                            </p></a>
                            <div>
                                <p class="detalle-precio">$1.500</p>
                                <p class="detalle-colores">5 colores</p>
                            </div>
                        </div>
                    </div>
                    <div class="detalle-productos-desktop">
                        <div class="cont-img-titulo-desktop">
                            <a href="#"> <img src="../images/variosH5.jpg" alt="foto producto" class="imag-producto">
                            <p class="titulo-producto">
                                Lorem ipsum dolor sit.
                            </p></a>
                            <div>
                                <p class="detalle-precio">$1.500</p>
                                <p class="detalle-colores">5 colores</p>
                            </div>
                        </div>
                    </div>
                    <div class="detalle-productos-desktop">
                        <div class="cont-img-titulo-desktop">
                            <a href="#"> <img src="../images/variosH6.jpg" alt="foto producto" class="imag-producto">
                            <p class="titulo-producto">
                                Lorem ipsum dolor sit.
                            </p></a>
                            <div>
                                <p class="detalle-precio">$1.500</p>
                                <p class="detalle-colores">5 colores</p>
                            </div>
                        </div>
                    </div>
                    <div class="detalle-productos-desktop">
                        <div class="cont-img-titulo-desktop">
                            <a href="#"> <img src="../images/variosH7.jpg" alt="foto producto" class="imag-producto">
                            <p class="titulo-producto">
                                Lorem ipsum dolor sit.
                            </p></a>
                            <div>
                                <p class="detalle-precio">$1.500</p>
                                <p class="detalle-colores">5 colores</p>
                            </div>
                        </div>
                    </div>
                    <div class="detalle-productos-desktop">
                        <div class="cont-img-titulo-desktop">
                            <a href="#"> <img src="../images/variosH8.jpg" alt="foto producto" class="imag-producto">
                            <p class="titulo-producto">
                                Lorem ipsum dolor sit.
                            </p></a>
                            <div>
                                <p class="detalle-precio">$1.500</p>
                                <p class="detalle-colores">5 colores</p>
                            </div>
                        </div>
                    </div>
                    <div class="detalle-productos-desktop">
                        <div class="cont-img-titulo-desktop">
                            <a href="#"> <img src="../images/variosH1.jpg" alt="foto producto" class="imag-producto">
                            <p class="titulo-producto">
                                Lorem ipsum dolor sit.
                            </p></a>
                            <div>
                                <p class="detalle-precio">$1.500</p>
                                <p class="detalle-colores">5 colores</p>
                            </div>
                        </div>
                    </div>
                    <div class="detalle-productos-desktop">
                        <div class="cont-img-titulo-desktop">
                            <a href="#"> <img src="../images/variosH2.jpg" alt="foto producto" class="imag-producto">
                            <p class="titulo-producto">
                                Lorem ipsum dolor sit.
                            </p></a>
                            <div>
                                <p class="detalle-precio">$1.500</p>
                                <p class="detalle-colores">5 colores</p>
                            </div>
                        </div>
                    </div>
                    <div class="detalle-productos-desktop">
                        <div class="cont-img-titulo-desktop">
                            <a href="#"> <img src="../images/variosH3.jpg" alt="foto producto" class="imag-producto">
                            <p class="titulo-producto">
                                Lorem ipsum dolor sit.
                            </p></a>
                            <div>
                                <p class="detalle-precio">$1.500</p>
                                <p class="detalle-colores">5 colores</p>
                            </div>
                        </div>
                    </div>
                    <div class="detalle-productos-desktop">
                        <div class="cont-img-titulo-desktop">
                            <a href="#"> <img src="../images/variosH4.jpg" alt="foto producto" class="imag-producto">
                            <p class="titulo-producto">
                                Lorem ipsum dolor sit.
                            </p></a>
                            <div>
                                <p class="detalle-precio">$1.500</p>
                                <p class="detalle-colores">5 colores</p>
                            </div>
                        </div>
                    </div>
                    <div class="detalle-productos-desktop">
                        <div class="cont-img-titulo-desktop">
                            <a href="#"> <img src="../images/variosH5.jpg" alt="foto producto" class="imag-producto">
                            <p class="titulo-producto">
                                Lorem ipsum dolor sit.
                            </p></a>
                            <div>
                                <p class="detalle-precio">$1.500</p>
                                <p class="detalle-colores">5 colores</p>
                            </div>
                        </div>
                    </div>
                    <div class="detalle-productos-desktop">
                        <div class="cont-img-titulo-desktop">
                            <a href="#"> <img src="../images/variosH6.jpg" alt="foto producto" class="imag-producto">
                            <p class="titulo-producto">
                                Lorem ipsum dolor sit.
                            </p></a>
                            <div>
                                <p class="detalle-precio">$1.500</p>
                                <p class="detalle-colores">5 colores</p>
                            </div>
                        </div>
                    </div>
                    <div class="detalle-productos-desktop">
                        <div class="cont-img-titulo-desktop">
                            <a href="#"> <img src="../images/variosH7.jpg" alt="foto producto" class="imag-producto">
                            <p class="titulo-producto">
                                Lorem ipsum dolor sit.
                            </p></a>
                            <div>
                                <p class="detalle-precio">$1.500</p>
                                <p class="detalle-colores">5 colores</p>
                            </div>
                        </div>
                    </div>
                    <div class="detalle-productos-desktop">
                        <div class="cont-img-titulo-desktop">
                            <a href="#"> <img src="../images/variosH8.jpg" alt="foto producto" class="imag-producto">
                            <p class="titulo-producto">
                                Lorem ipsum dolor sit.
                            </p></a>
                            <div>
                                <p class="detalle-precio">$1.500</p>
                                <p class="detalle-colores">5 colores</p>
                            </div>
                        </div>
                    </div>
                    <div class="detalle-productos-desktop">
                        <div class="cont-img-titulo-desktop">
                            <a href="#"> <img src="../images/variosH1.jpg" alt="foto producto" class="imag-producto">
                            <p class="titulo-producto">
                                Lorem ipsum dolor sit.
                            </p></a>
                            <div>
                                <p class="detalle-precio">$1.500</p>
                                <p class="detalle-colores">5 colores</p>
                            </div>
                        </div>
                    </div>
                    <div class="detalle-productos-desktop">
                        <div class="cont-img-titulo-desktop">
                            <a href="#"> <img src="../images/variosH2.jpg" alt="foto producto" class="imag-producto">
                            <p class="titulo-producto">
                                Lorem ipsum dolor sit.
                            </p></a>
                            <div>
                                <p class="detalle-precio">$1.500</p>
                                <p class="detalle-colores">5 colores</p>
                            </div>
                        </div>
                    </div>
                    <div class="detalle-productos-desktop">
                        <div class="cont-img-titulo-desktop">
                            <a href="#"> <img src="../images/variosH3.jpg" alt="foto producto" class="imag-producto">
                            <p class="titulo-producto">
                                Lorem ipsum dolor sit.
                            </p></a>
                            <div>
                                <p class="detalle-precio">$1.500</p>
                                <p class="detalle-colores">5 colores</p>
                            </div>
                        </div>
                    </div>
                    <div class="detalle-productos-desktop">
                        <div class="cont-img-titulo-desktop">
                            <a href="#"> <img src="../images/variosH4.jpg" alt="foto producto" class="imag-producto">
                            <p class="titulo-producto">
                                Lorem ipsum dolor sit.
                            </p></a>
                            <div>
                                <p class="detalle-precio">$1.500</p>
                                <p class="detalle-colores">5 colores</p>
                            </div>
                        </div>
                    </div>
                    <div class="detalle-productos-desktop">
                        <div class="cont-img-titulo-desktop">
                            <a href="#"> <img src="../images/variosH5.jpg" alt="foto producto" class="imag-producto">
                            <p class="titulo-producto">
                                Lorem ipsum dolor sit.
                            </p></a>
                            <div>
                                <p class="detalle-precio">$1.500</p>
                                <p class="detalle-colores">5 colores</p>
                            </div>
                        </div>
                    </div>
                    <div class="detalle-productos-desktop">
                        <div class="cont-img-titulo-desktop">
                            <a href="#"> <img src="../images/variosH6.jpg" alt="foto producto" class="imag-producto">
                            <p class="titulo-producto">
                                Lorem ipsum dolor sit.
                            </p></a>
                            <div>
                                <p class="detalle-precio">$1.500</p>
                                <p class="detalle-colores">5 colores</p>
                            </div>
                        </div>
                    </div>
                    <div class="detalle-productos-desktop">
                        <div class="cont-img-titulo-desktop">
                            <a href="#"> <img src="../images/variosH7.jpg" alt="foto producto" class="imag-producto">
                            <p class="titulo-producto">
                                Lorem ipsum dolor sit.
                            </p></a>
                            <div>
                                <p class="detalle-precio">$1.500</p>
                                <p class="detalle-colores">5 colores</p>
                            </div>
                        </div>
                    </div>
                    <div class="detalle-productos-desktop">
                        <div class="cont-img-titulo-desktop">
                            <a href="#"> <img src="../images/variosH8.jpg" alt="foto producto" class="imag-producto">
                            <p class="titulo-producto">
                                Lorem ipsum dolor sit.
                            </p></a>
                            <div>
                                <p class="detalle-precio">$1.500</p>
                                <p class="detalle-colores">5 colores</p>
                            </div>
                        </div>
                    </div>
                    <div class="detalle-productos-desktop">
                        <div class="cont-img-titulo-desktop">
                            <a href="#"> <img src="../images/variosH1.jpg" alt="foto producto" class="imag-producto">
                            <p class="titulo-producto">
                                Lorem ipsum dolor sit.
                            </p></a>
                            <div>
                                <p class="detalle-precio">$1.500</p>
                                <p class="detalle-colores">5 colores</p>
                            </div>
                        </div>
                    </div>
                    <div class="detalle-productos-desktop">
                        <div class="cont-img-titulo-desktop">
                            <a href="#"> <img src="../images/variosH2.jpg" alt="foto producto" class="imag-producto">
                            <p class="titulo-producto">
                                Lorem ipsum dolor sit.
                            </p></a>
                            <div>
                                <p class="detalle-precio">$1.500</p>
                                <p class="detalle-colores">5 colores</p>
                            </div>
                        </div>
                    </div>
                    <div class="detalle-productos-desktop">
                        <div class="cont-img-titulo-desktop">
                            <a href="#"> <img src="../images/variosH3.jpg" alt="foto producto" class="imag-producto">
                            <p class="titulo-producto">
                                Lorem ipsum dolor sit.
                            </p></a>
                            <div>
                                <p class="detalle-precio">$1.500</p>
                                <p class="detalle-colores">5 colores</p>
                            </div>
                        </div>
                    </div>
                    <div class="detalle-productos-desktop">
                        <div class="cont-img-titulo-desktop">
                            <a href="#"> <img src="../images/variosH4.jpg" alt="foto producto" class="imag-producto">
                            <p class="titulo-producto">
                                Lorem ipsum dolor sit.
                            </p></a>
                            <div>
                                <p class="detalle-precio">$1.500</p>
                                <p class="detalle-colores">5 colores</p>
                            </div>
                        </div>
                    </div>
                    <div class="detalle-productos-desktop">
                        <div class="cont-img-titulo-desktop">
                            <a href="#"> <img src="../images/variosH5.jpg" alt="foto producto" class="imag-producto">
                            <p class="titulo-producto">
                                Lorem ipsum dolor sit.
                            </p></a>
                            <div>
                                <p class="detalle-precio">$1.500</p>
                                <p class="detalle-colores">5 colores</p>
                            </div>
                        </div>
                    </div>
                    <div class="detalle-productos-desktop">
                        <div class="cont-img-titulo-desktop">
                            <a href="#"> <img src="../images/variosH6.jpg" alt="foto producto" class="imag-producto">
                            <p class="titulo-producto">
                                Lorem ipsum dolor sit.
                            </p></a>
                            <div>
                                <p class="detalle-precio">$1.500</p>
                                <p class="detalle-colores">5 colores</p>
                            </div>
                        </div>
                    </div>
                    <div class="detalle-productos-desktop">
                        <div class="cont-img-titulo-desktop">
                            <a href="#"> <img src="../images/variosH7.jpg" alt="foto producto" class="imag-producto">
                            <p class="titulo-producto">
                                Lorem ipsum dolor sit.
                            </p></a>
                            <div>
                                <p class="detalle-precio">$1.500</p>
                                <p class="detalle-colores">5 colores</p>
                            </div>
                        </div>
                    </div>
                    <div class="detalle-productos-desktop">
                        <div class="cont-img-titulo-desktop">
                            <a href="#"> <img src="../images/variosH8.jpg" alt="foto producto" class="imag-producto">
                            <p class="titulo-producto">
                                Lorem ipsum dolor sit.
                            </p></a>
                            <div>
                                <p class="detalle-precio">$1.500</p>
                                <p class="detalle-colores">5 colores</p>
                            </div>
                        </div>
                    </div>
                    <div class="detalle-productos-desktop">
                        <div class="cont-img-titulo-desktop">
                            <a href="#"> <img src="../images/variosH1.jpg" alt="foto producto" class="imag-producto">
                            <p class="titulo-producto">
                                Lorem ipsum dolor sit.
                            </p></a>
                            <div>
                                <p class="detalle-precio">$1.500</p>
                                <p class="detalle-colores">5 colores</p>
                            </div>
                        </div>
                    </div>
                    <div class="detalle-productos-desktop">
                        <div class="cont-img-titulo-desktop">
                            <a href="#"> <img src="../images/variosH2.jpg" alt="foto producto" class="imag-producto">
                            <p class="titulo-producto">
                                Lorem ipsum dolor sit.
                            </p></a>
                            <div>
                                <p class="detalle-precio">$1.500</p>
                                <p class="detalle-colores">5 colores</p>
                            </div>
                        </div>
                    </div>
                    <div class="detalle-productos-desktop">
                        <div class="cont-img-titulo-desktop">
                            <a href="#"> <img src="../images/variosH3.jpg" alt="foto producto" class="imag-producto">
                            <p class="titulo-producto">
                                Lorem ipsum dolor sit.
                            </p></a>
                            <div>
                                <p class="detalle-precio">$1.500</p>
                                <p class="detalle-colores">5 colores</p>
                            </div>
                        </div>
                    </div>
                    <div class="detalle-productos-desktop">
                        <div class="cont-img-titulo-desktop">
                            <a href="#"> <img src="../images/variosH4.jpg" alt="foto producto" class="imag-producto">
                            <p class="titulo-producto">
                                Lorem ipsum dolor sit.
                            </p></a>
                            <div>
                                <p class="detalle-precio">$1.500</p>
                                <p class="detalle-colores">5 colores</p>
                            </div>
                        </div>
                    </div>
                    <div class="detalle-productos-desktop">
                        <div class="cont-img-titulo-desktop">
                            <a href="#"> <img src="../images/variosH5.jpg" alt="foto producto" class="imag-producto">
                            <p class="titulo-producto">
                                Lorem ipsum dolor sit.
                            </p></a>
                            <div>
                                <p class="detalle-precio">$1.500</p>
                                <p class="detalle-colores">5 colores</p>
                            </div>
                        </div>
                    </div>  
                </div> 
            </div>

        </div>
        <div class="varios-productos">
            <div class="detalle-productos">
                <div class="cont-img-titulo">
                    <a href="#"> <img src="../images/variosH1.jpg" alt="foto producto" class="imag-producto">
                    <p class="titulo-producto">
                        Lorem ipsum dolor sit.
                    </p></a>
                    <div>
                        <p class="detalle-precio">$1.500</p>
                        <p class="detalle-colores">5 colores</p>
                    </div>
                </div>
            </div>
            <div class="detalle-productos">
                <div class="cont-img-titulo">
                    <a href="#"> <img src="../images/variosH2.jpg" alt="foto producto" class="imag-producto">
                    <p class="titulo-producto">
                        Lorem ipsum dolor sit.
                    </p></a>
                    <div>
                        <p class="detalle-precio">$1.500</p>
                        <p class="detalle-colores">5 colores</p>
                    </div>
                </div>
            </div>
            <div class="detalle-productos">
                <div class="cont-img-titulo">
                    <a href="#"> <img src="../images/variosH3.jpg" alt="foto producto" class="imag-producto">
                    <p class="titulo-producto">
                        Lorem ipsum dolor sit.
                    </p></a>
                    <div>
                        <p class="detalle-precio">$1.500</p>
                        <p class="detalle-colores">5 colores</p>
                    </div>
                </div>
            </div>
            <div class="detalle-productos">
                <div class="cont-img-titulo">
                    <a href="#"> <img src="../images/variosH4.jpg" alt="foto producto" class="imag-producto">
                    <p class="titulo-producto">
                        Lorem ipsum dolor sit.
                    </p></a>
                    <div>
                        <p class="detalle-precio">$1.500</p>
                        <p class="detalle-colores">5 colores</p>
                    </div>
                </div>
            </div>
            <div class="detalle-productos">
                <div class="cont-img-titulo">
                    <a href="#"> <img src="../images/variosH5.jpg" alt="foto producto" class="imag-producto">
                    <p class="titulo-producto">
                        Lorem ipsum dolor sit.
                    </p></a>
                    <div>
                        <p class="detalle-precio">$1.500</p>
                        <p class="detalle-colores">5 colores</p>
                    </div>
                </div>
            </div>
            <div class="detalle-productos">
                <div class="cont-img-titulo">
                    <a href="#"> <img src="../images/variosH6.jpg" alt="foto producto" class="imag-producto">
                    <p class="titulo-producto">
                        Lorem ipsum dolor sit.
                    </p></a>
                    <div>
                        <p class="detalle-precio">$1.500</p>
                        <p class="detalle-colores">5 colores</p>
                    </div>
                </div>
            </div>
            <div class="detalle-productos">
                <div class="cont-img-titulo">
                    <a href="#"> <img src="../images/variosH7.jpg" alt="foto producto" class="imag-producto">
                    <p class="titulo-producto">
                        Lorem ipsum dolor sit.
                    </p></a>
                    <div>
                        <p class="detalle-precio">$1.500</p>
                        <p class="detalle-colores">5 colores</p>
                    </div>
                </div>
            </div>
            <div class="detalle-productos">
                <div class="cont-img-titulo">
                    <a href="#"> <img src="../images/variosH8.jpg" alt="foto producto" class="imag-producto">
                    <p class="titulo-producto">
                        Lorem ipsum dolor sit.
                    </p></a>
                    <div>
                        <p class="detalle-precio">$1.500</p>
                        <p class="detalle-colores">5 colores</p>
                    </div>
                </div>
            </div>
            <div class="detalle-productos">
                <div class="cont-img-titulo">
                    <a href="#"> <img src="../images/variosH1.jpg" alt="foto producto" class="imag-producto">
                    <p class="titulo-producto">
                        Lorem ipsum dolor sit.
                    </p></a>
                    <div>
                        <p class="detalle-precio">$1.500</p>
                        <p class="detalle-colores">5 colores</p>
                    </div>
                </div>
            </div>
            <div class="detalle-productos">
                <div class="cont-img-titulo">
                    <a href="#"> <img src="../images/variosH2.jpg" alt="foto producto" class="imag-producto">
                    <p class="titulo-producto">
                        Lorem ipsum dolor sit.
                    </p></a>
                    <div>
                        <p class="detalle-precio">$1.500</p>
                        <p class="detalle-colores">5 colores</p>
                    </div>
                </div>
            </div>
            <div class="detalle-productos">
                <div class="cont-img-titulo">
                    <a href="#"> <img src="../images/variosH3.jpg" alt="foto producto" class="imag-producto">
                    <p class="titulo-producto">
                        Lorem ipsum dolor sit.
                    </p></a>
                    <div>
                        <p class="detalle-precio">$1.500</p>
                        <p class="detalle-colores">5 colores</p>
                    </div>
                </div>
            </div>
            <div class="detalle-productos">
                <div class="cont-img-titulo">
                    <a href="#"> <img src="../images/variosH5.jpg" alt="foto producto" class="imag-producto">
                    <p class="titulo-producto">
                        Lorem ipsum dolor sit.
                    </p></a>
                    <div>
                        <p class="detalle-precio">$1.500</p>
                        <p class="detalle-colores">5 colores</p>
                    </div>
                </div>
            </div>
            <div class="detalle-productos">
                <div class="cont-img-titulo">
                    <a href="#"> <img src="../images/variosH6.jpg" alt="foto producto" class="imag-producto">
                    <p class="titulo-producto">
                        Lorem ipsum dolor sit.
                    </p></a>
                    <div>
                        <p class="detalle-precio">$1.500</p>
                        <p class="detalle-colores">5 colores</p>
                    </div>
                </div>
            </div>
            <div class="detalle-productos">
                <div class="cont-img-titulo">
                    <a href="#"> <img src="../images/variosH7.jpg" alt="foto producto" class="imag-producto">
                    <p class="titulo-producto">
                        Lorem ipsum dolor sit.
                    </p></a>
                    <div>
                        <p class="detalle-precio">$1.500</p>
                        <p class="detalle-colores">5 colores</p>
                    </div>
                </div>
            </div>
            <div class="detalle-productos">
                <div class="cont-img-titulo">
                    <a href="#"> <img src="../images/variosH8.jpg" alt="foto producto" class="imag-producto">
                    <p class="titulo-producto">
                        Lorem ipsum dolor sit.
                    </p></a>
                    <div>
                        <p class="detalle-precio">$1.500</p>
                        <p class="detalle-colores">5 colores</p>
                    </div>
                </div>
            </div>
            <div class="detalle-productos">
                <div class="cont-img-titulo">
                    <a href="#"> <img src="../images/variosH3.jpg" alt="foto producto" class="imag-producto">
                    <p class="titulo-producto">
                        Lorem ipsum dolor sit.
                    </p></a>
                    <div>
                        <p class="detalle-precio">$1.500</p>
                        <p class="detalle-colores">5 colores</p>
                    </div>
                </div>
            </div>
        </div>    
    </main>
    <%- include('./partials/footer.ejs') %>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script> 
</body>
</html>