<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href='/stylesheets/styleindex.css'>
    <link rel="stylesheet" href="/stylesheets/form-register.css">
    
</head>
    

<body class="iñaki">

    <%- include('./partials/header.ejs') %> 
    <img src="../nuevo tp/logo4.png" alt=""> 
    <div class="container">
    <form class="box" action="/users/login" method="POST">
        
       
            <h1 >Iniciar Sesion</h1>
            <label for="email" style="font-size: 30px;" class="titulos">Correo electronico</label>

            <input type="email" placeholder="tuemail@hotmail.com" name="email" size="30px" required> 

            <label for="contraseña" style="font-size: 30px;" class="titulos">Contraseña</label>

            <input type="password" placeholder="Contraseña" name="password" size="30px" maxlength="50" autocomplete="off" required>

            <input type="submit" value="Iniciar Sesion" href=""> 
            <label class="titulos">Recordame</label>
            <input type="checkbox" value="recordame" name="recordame"> 
            
            <p><a href="https://www.google.com.ar/" style="color: black;">¿Has olvidado tu contraseña?</a></p>


            <a  class="href" href="https://es-la.facebook.com/login/">Inicia Sesion con Facebook</a>

            <a class="href" href="https://accounts.google.com/ServiceLogin/signinchooser?continue=https%3A%2F%2Fwww.google.com.ar%2F&hl=es-419&flowName=GlifWebSignIn&flowEntry=ServiceLogin">Inicia Sesion con Google</a>
            <a class="crear" href="/users/register" style="color: black;">Crear Cuenta</a>
        </form>
        
    </div>
    <%- include('./partials/footer.ejs') %> 

</body>
</html>