<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head.ejs') %> 
<body>
    <%- include('./partials/header.ejs') %> 
    <main class="main-categorias">
        <div class="categoria-generales">
            <div class="categorias-arriba">
                <div class="categoria-izq-arriba">
                    <a href="#"><img src="../images/pantalonm.png" alt="" class="img-categoria"></a> 
                     <div class="cate-titulo">
                         <h1 class="categoria-texto">Calzas</h1>
                     </div>
                 </div>
                 <div class="categoria-derecha-arriba">
                    <a href="#"><img src="../images/topm.png" alt="" class="img-categoria"></a> 
                     <div class="cate-titulo">
                         <h1 class="categoria-texto">Tops</h1>
                     </div>
                 </div>
            </div>
            <div class="categorias-abajo">
                <div class="categoria-izq-abajo">
                    <a href="#"><img src="../images/zapatillasm.png" alt="" class="img-categoria"></a> 
                     <div class="cate-titulo-abajo">
                         <h1 class="categoria-texto">Zapatillas</h1>
                     </div>
                 </div>
                 <div class="categoria-derecha-abajo">
                    <a href="#"><img src="../images/buzom.png" alt="" class="img-categoria"></a> 
                     <div class="cate-titulo-abajo-derecha">
                         <h1 class="categoria-texto">Buzo</h1>
                     </div>
                 </div>
            </div>
        </div>
        <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Categorías
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
              <a class="dropdown-item" href="#">Nuevo</a>
              <a class="dropdown-item" href="#">Tops</a>
              <a class="dropdown-item" href="#">Buzos</a>
              <a class="dropdown-item" href="#">Camperas</a>
              <a class="dropdown-item" href="#">Pantalones y calzas</a>
              <a class="dropdown-item" href="#">Shorts</a>
              <a class="dropdown-item" href="#">Conjuntos</a>
              <a class="dropdown-item dropdown-ultimo" href="#">Sale</a>
            </div>
        </div>
        <div class="categorias-desktop">
            <ul>
                <li class="subcategorias-mujer">Nuevo</li>
                <li class="subcategorias-mujer">Tops</li>
                <li class="subcategorias-mujer">Buzos</li>
                <li class="subcategorias-mujer">Camperas</li>
                <li class="subcategorias-mujer">Pantalones y calzas</li>
                <li class="subcategorias-mujer">Shorts</li>
                <li class="subcategorias-mujer">Conjuntos</li>
                <li class="subcategorias-mujer">Sale</li>
            </ul>
        </div>
        <div class="varios-productos">
            <div class="detalle-productos">
                <div class="cont-img-titulo">
                    <a href="#"> <img src="../images/fotoproducto1.jpg" alt="foto producto" class="imag-producto">
                    <p class="titulo-producto">
                        Lorem ipsum dolor sit.
                    </p></a>
                    <div>
                        <p class="detalle-precio">$1.500</p>
                        <p class="detalle-colores">5 colores</p>
                    </div>
                </div>
            </div>
            <div class="detalle-productos">
                <div class="cont-img-titulo">
                    <a href="#"> <img src="../images/fotoproducto1.jpg" alt="foto producto" class="imag-producto">
                    <p class="titulo-producto">
                        Lorem ipsum dolor sit.
                    </p></a>
                    <div>
                        <p class="detalle-precio">$1.500</p>
                        <p class="detalle-colores">5 colores</p>
                    </div>
                </div>
            </div>
            <div class="detalle-productos">
                <div class="cont-img-titulo">
                    <a href="#"> <img src="../images/fotoproducto1.jpg" alt="foto producto" class="imag-producto">
                    <p class="titulo-producto">
                        Lorem ipsum dolor sit.
                    </p></a>
                    <div>
                        <p class="detalle-precio">$1.500</p>
                        <p class="detalle-colores">5 colores</p>
                    </div>
                </div>
            </div>
            <div class="detalle-productos">
                <div class="cont-img-titulo">
                    <a href="#"> <img src="../images/fotoproducto1.jpg" alt="foto producto" class="imag-producto">
                    <p class="titulo-producto">
                        Lorem ipsum dolor sit.
                    </p></a>
                    <div>
                        <p class="detalle-precio">$1.500</p>
                        <p class="detalle-colores">5 colores</p>
                    </div>
                </div>
            </div>
            <div class="detalle-productos">
                <div class="cont-img-titulo">
                    <a href="#"> <img src="../images/fotoproducto1.jpg" alt="foto producto" class="imag-producto">
                    <p class="titulo-producto">
                        Lorem ipsum dolor sit.
                    </p></a>
                    <div>
                        <p class="detalle-precio">$1.500</p>
                        <p class="detalle-colores">5 colores</p>
                    </div>
                </div>
            </div>
            <div class="detalle-productos">
                <div class="cont-img-titulo">
                    <a href="#"> <img src="../images/fotoproducto1.jpg" alt="foto producto" class="imag-producto">
                    <p class="titulo-producto">
                        Lorem ipsum dolor sit.
                    </p></a>
                    <div>
                        <p class="detalle-precio">$1.500</p>
                        <p class="detalle-colores">5 colores</p>
                    </div>
                </div>
            </div>
            <div class="detalle-productos">
                <div class="cont-img-titulo">
                    <a href="#"> <img src="../images/fotoproducto1.jpg" alt="foto producto" class="imag-producto">
                    <p class="titulo-producto">
                        Lorem ipsum dolor sit.
                    </p></a>
                    <div>
                        <p class="detalle-precio">$1.500</p>
                        <p class="detalle-colores">5 colores</p>
                    </div>
                </div>
            </div>
            <div class="detalle-productos">
                <div class="cont-img-titulo">
                    <a href="#"> <img src="../images/fotoproducto1.jpg" alt="foto producto" class="imag-producto">
                    <p class="titulo-producto">
                        Lorem ipsum dolor sit.
                    </p></a>
                    <div>
                        <p class="detalle-precio">$1.500</p>
                        <p class="detalle-colores">5 colores</p>
                    </div>
                </div>
            </div>
            <div class="detalle-productos">
                <div class="cont-img-titulo">
                    <a href="#"> <img src="../images/fotoproducto1.jpg" alt="foto producto" class="imag-producto">
                    <p class="titulo-producto">
                        Lorem ipsum dolor sit.
                    </p></a>
                    <div>
                        <p class="detalle-precio">$1.500</p>
                        <p class="detalle-colores">5 colores</p>
                    </div>
                </div>
            </div>
            <div class="detalle-productos">
                <div class="cont-img-titulo">
                    <a href="#"> <img src="../images/fotoproducto1.jpg" alt="foto producto" class="imag-producto">
                    <p class="titulo-producto">
                        Lorem ipsum dolor sit.
                    </p></a>
                    <div>
                        <p class="detalle-precio">$1.500</p>
                        <p class="detalle-colores">5 colores</p>
                    </div>
                </div>
            </div>
            <div class="detalle-productos">
                <div class="cont-img-titulo">
                    <a href="#"> <img src="../images/fotoproducto1.jpg" alt="foto producto" class="imag-producto">
                    <p class="titulo-producto">
                        Lorem ipsum dolor sit.
                    </p></a>
                    <div>
                        <p class="detalle-precio">$1.500</p>
                        <p class="detalle-colores">5 colores</p>
                    </div>
                </div>
            </div>
            <div class="detalle-productos">
                <div class="cont-img-titulo">
                    <a href="#"> <img src="../images/fotoproducto1.jpg" alt="foto producto" class="imag-producto">
                    <p class="titulo-producto">
                        Lorem ipsum dolor sit.
                    </p></a>
                    <div>
                        <p class="detalle-precio">$1.500</p>
                        <p class="detalle-colores">5 colores</p>
                    </div>
                </div>
            </div>
            <div class="detalle-productos">
                <div class="cont-img-titulo">
                    <a href="#"> <img src="../images/fotoproducto1.jpg" alt="foto producto" class="imag-producto">
                    <p class="titulo-producto">
                        Lorem ipsum dolor sit.
                    </p></a>
                    <div>
                        <p class="detalle-precio">$1.500</p>
                        <p class="detalle-colores">5 colores</p>
                    </div>
                </div>
            </div>
            <div class="detalle-productos">
                <div class="cont-img-titulo">
                    <a href="#"> <img src="../images/fotoproducto1.jpg" alt="foto producto" class="imag-producto">
                    <p class="titulo-producto">
                        Lorem ipsum dolor sit.
                    </p></a>
                    <div>
                        <p class="detalle-precio">$1.500</p>
                        <p class="detalle-colores">5 colores</p>
                    </div>
                </div>
            </div>
            <div class="detalle-productos">
                <div class="cont-img-titulo">
                    <a href="#"> <img src="../images/fotoproducto1.jpg" alt="foto producto" class="imag-producto">
                    <p class="titulo-producto">
                        Lorem ipsum dolor sit.
                    </p></a>
                    <div>
                        <p class="detalle-precio">$1.500</p>
                        <p class="detalle-colores">5 colores</p>
                    </div>
                </div>
            </div>
            <div class="detalle-productos">
                <div class="cont-img-titulo">
                    <a href="#"> <img src="../images/fotoproducto1.jpg" alt="foto producto" class="imag-producto">
                    <p class="titulo-producto">
                        Lorem ipsum dolor sit.
                    </p></a>
                    <div>
                        <p class="detalle-precio">$1.500</p>
                        <p class="detalle-colores">5 colores</p>
                    </div>
                </div>
            </div>
        </div>    
    </main>
    <%- include('./partials/footer.ejs') %>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script> 
</body>
</html>