<html lang="en">
<head>
    <link rel="stylesheet" href='/stylesheets/not-found.css'>
</head>

<body>
    <div class="error-notfound">Página no encontrada</div>
    <a href="/">Volver a inicio</a>
    <img src="/images 2/logo4.png" alt="">
</body>
</html>