
<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head.ejs') %> 

<body>
    <%- include('./partials/header.ejs') %> 
    <div class="cont-reciclaje">
        <main class="contenedor-main-reciclaje">
            <div class="principal-reciclaje">
                <img src="/images/recicla1.jpg" alt="reciclado" class="imag-reciclado">
                <div class="banner-principal-recic">
                    <h1 class="banner-texto">¿Por qué Reciclado?</h1>
                </div>
            </div>
            <div class="cont-info">
                <div class="cont-carbono">
                    <h1 class="titulo-carbono">
                        Nuestra Industria Tiene Un Problema con el Carbono.    
                    </h1>
                    <p class="parrafo-carbono">
                        La mayor parte de la ropa se ha hecho usando energía proveniente de plantas termoeléctricas que funcionan a carbón. Esto incrementa el volumen de gases de efecto invernadero en el aire y acelera la crisis climática. En solo un año, la industria textil contribuye con 1.2 billones de toneladas de CO2 a nuestro aire. Esa es la misma cantidad de emisiones que aportan los vuelos internacionales y el transporte marítimo combinados.
                    </p>
                </div>
                <div class="cont-carbono">
                    <h1 class="titulo-carbono titulo-materiales">
                        Estamos alejándonos de los materiales vírgenes.   
                    </h1>
                    <p class="parrafo-carbono">
                        Extraer y procesar materiales vírgenes causa un gran impacto sobre la tierra, el agua y el aire. Para ser un aporte con lo que hacemos, estamos migrando hacia un 100% de materias primas renovables y recicladas. Al usar fibras sintéticas y naturales hechas con desechos pre y posconsumo, estamos limitando nuestra dependencia de las materias primas.
                    </p>
                </div>
                <div class="cont-carbono">
                    <h1 class="titulo-carbono titulo-consomo">
                        Nuestro Reciclaje Pre-Consumo   
                    </h1>
                    <p class="parrafo-carbono">
                        También llamado “post-industrial”, el desecho pre-consumo se crea durante el proceso de manufactura, como los retazos de tela o desechos de hilos en las tejedurías e hilanderías. El hilo reciclado a veces se mezcla con otros materiales, como el poliéster, para asegurar que no haya una pérdida en su desempeño.
                    </p>
                </div>
                <div class="cont-carbono">
                    <h1 class="titulo-carbono titulo-cambios">
                        Necesitamos que la Industria Textil Cambie.  
                    </h1>
                    <p class="parrafo-carbono">
                        Menos del 1% de los materiales usados para hacer ropa se convierten en prendas nuevas cada año. Para hacer un impacto de verdad, necesitamos un cambio a lo largo de toda la industria.
                    </p>
                </div>
            </div>
            <div class="final-reciclaje">
                <img src="/images/reciclaje.png" alt="reciclado" class="imag-final">
                <div class="banner-final-recic">
                    <h1 class="banner-texto-final">
                        LOS RESIDUOS PLÁSTICOS SON UN PROBLEMA. LA INNOVACIÓN ES NUESTRA SOLUCIÓN.
                    </h1>
                </div>
            </div>    
        </main>
        
    </div>
<%- include('./partials/footer.ejs') %>    
</body>
</html>

