*{
    box-sizing: border-box;
    margin:0px;
    padding: 0px;
  }
.carritobody {
    width: 100%;
    height: 100%;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0%;
    background-color: #D3D3D3;
}

section {
    /* width: 90%; */
    background-color: white;
    border: 1px solid #767676;
    border-radius: 0%;
    margin-bottom: 30px;
    
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    padding-top: 11%;
    padding-left: 60px;
    padding-right: 60px;
}

.carritodecompra {
    padding: 15px;
    border-bottom: 1px solid black;
}
.carritodecompra h2 {
    font-weight: lighter;
}
.carritoconproductos {
    font-family: Arial, Helvetica, sans-serif;
    padding-top: 2%;
    padding-bottom: 3%;
}
.contenedorcarrito {
    display: flex;
    flex-wrap: wrap;
    /* border: 1px solid red; */
    overflow: hidden;
}
.resumendecompra{
    width: 25%;
    height: 0%;
    margin-top: 3%;
    margin-bottom: 50%;
    padding: 15px;
    border-radius: 1%;
    background: white;
    border: 1px solid #212529;
    background-color: white;
    align-self: stretch;
}
.continuarbutton {
    background: none;
    display: block;
    margin: 20px;
    text-align: center;
    border: 2px solid black;
    cursor: pointer;
    color: white;
    background-color: black;
    width: 85%;
    padding: 14px 40px;
    font-family: Arial, Helvetica, sans-serif;
}
.resumendecompra .resumen_div {
    border-bottom: 1px solid black;
    padding-bottom: 7%;
    padding-top: 7%;
}
.resumendecompra .total_div {
    padding-bottom: 7%;
    padding-top: 7%;
}
.entregaopciones {
    font-family: Arial, Helvetica, sans-serif;
    padding-top: 2%;
    padding-bottom: 3%;
    
}
.carritodecompra {
    padding-bottom: 1%;
    border-bottom: 1px solid black;
    width: 89%;
}
.form-control-sm{
    margin-left: -21%;
}
.carrito-compras-img{
    margin-top: 0%;
}