*{
    box-sizing: border-box;
}


/* .wrap{
    width: 90%;
    max-width: 1000px;
    margin: auto;
} */


.wrap{
    position: relative;
    display: inline-table;
    margin-top: 167px;
    margin-bottom: 60px;

}
/*img {
    text-align: center;
    position: relative;
    width: 180px;
    padding: 40px;
    top: 17%;
    left: 50%;
    transform: translate(-50%,-100%);
}*/
.box{
    width: 461px;
    padding: 40px;
    margin-left: 2%;
    border: solid 1px black;
    background: white;
}
.box h1{
    color: #222;
    text-align: center;
    font-weight: 500;
    border-bottom: 1px solid #ddd;
    font: 100 1.6rem/1.4 Helvetica,Arial,sans-serif;
    margin-bottom: 5%;
    letter-spacing: 1.5px;
}
.datos-ingresar{
    text-align: center;
    margin-bottom: 20px;
    font: 0.6rem/1.4 Helvetica,Arial,sans-serif;
    letter-spacing: .05rem;
    color: #767676;
  }

.titulos{
    font: 600 0.9rem/1.4 Helvetica,Arial,sans-serif;
    letter-spacing: .05rem;
    color: #222;
}
.fecha-nac{
    font: 0.8rem/1.4 Helvetica,Arial,sans-serif;
    letter-spacing: .02rem;
    color: #767676;
    margin-top: -23px;
}
.box input{
    background: none;
    display: block;
    margin: 6px auto;
    text-align: center;
    border: 1px solid #aaa;
    padding: 11px 10px;
    width: 380px;
    color: black;
    transition: 0.25s;
    text-align: start;
    margin-bottom: 9%;
}
.box input[type = "submit"]{
    border:0;
    background: none;
    display: block;
    margin: 6px auto;
    text-align: center;
    border: 1px solid #aaa;;
    padding: 11px 40px;
    outline: none;
    color: white;
    transition: 0.25s;
    cursor: pointer;
    font-size: 1.2rem;
    font-family: Helvetica,Arial,sans-serif;
    letter-spacing: .05rem;
    font-weight: 700;
    line-height: 1.4;
    background-color: #222;
}
.box input[type = "submit"]:focus{
    background-color: #aaa;
    
}
.href-i{
    background: none;
    border: none;
    color: #222;
    margin-top: 14px;
    padding: 0px 30px 0px 00px;
    text-decoration: none;
    display: inline-block;
    font: 0.9rem/0.9 Helvetica,Arial,sans-serif;
    letter-spacing: .05rem;
}
.aceptarterminos{
    padding: 6px;
}
.href-i:hover{
    color: gray;
    
}
.subir-foto-perfil{
    font: 600 0.9rem/1.4 Helvetica,Arial,sans-serif;
    letter-spacing: .05rem;
    color: #222;
}
/* Checkbox terminosycondiciones y Radios generos */
.registrarse{
    width: 100%;
    font-weight: 700;
    font-family: Helvetica, Arial, sans-serif;
    letter-spacing: 0.05rem;
    cursor: pointer;
    transition-duration: 0.2s;
    transition-property: color, background-color, border-color;
    min-height: 45px;
    font-size: 1rem;
    color: rgb(255, 255, 255);
    background-color: rgb(34, 34, 34);
    -webkit-font-smoothing: antialiased;
    padding: 10px 20px;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(34, 34, 34);
    border-image: initial;

}
.registrarse:hover{
    color: rgb(255, 255, 255);
    background-color: rgb(118, 118, 118);
    border-width: 1px;
    border-style: solid;
    border-color: rgb(118, 118, 118);
    border-image: initial;
}
.container2 h2{
    margin-bottom: 2%;
    font: 0.8rem/1.4 Helvetica,Arial,sans-serif;
    letter-spacing: .05rem;
    color: rgb(238, 0, 0);
}

.radiogenero h2{
    margin-top: 25px;
    font-size: 16px;
    color: #222;
    margin-bottom: 5px;
    margin-left: 20px;
    font-family: Arial, Helvetica, sans-serif;
}
.radiogenero{
    padding: 10px 0px;
    margin-left: -18px;
    margin-bottom: 25px;
}

.radiogenero input[type='radio'],
.aceptarterminos input[type='checkbox'] {
    display: none;

}
.radiogenero label,
.aceptarterminos label {
    font: 0.8rem/1.4 Helvetica,Arial,sans-serif;
    letter-spacing: .02rem;
    color: #767676;
    padding: 5px 15px 5px 51px;
    display: inline-block;
    position: relative;
    border-radius: 3px;
    cursor: pointer;
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
    
}
.radiogenero label:hover,
.aceptarterminos label:hover {
    background: rgba(0, 116, 217, 0.1);
}
.radiogenero label::before,
.aceptarterminos label::before {
    content: '';
    width: 17px;
    height: 17px;
    display: inline-block;
    background: none;
    border: 2px solid #aaa;
    border-radius: 50%;
    position: absolute;
    left: 17px;
    top: 4px;
}

.aceptarterminos label::before{
    border-radius: 3px;
}
.radiogenero input[type='radio']:checked + label,
.aceptarterminos input[type='checkbox']:checked + label {
    padding: 5px 15px;
    background: rgb(177, 175, 175);
    border-radius: 2px;
    color: white;
}
.radiogenero input[type='radio']:checked + label::before,
.aceptarterminos input[type='checkbox']:checked + label::before {
    display: none;
}
.iniciar-sesion{
    margin-top: 39px;
    font-weight: 600;
    padding-bottom: 15px;
    font: 600 1rem/1.4 Helvetica,Arial,sans-serif;
    letter-spacing: .05rem;
    color: #222;
    text-align: center;
    padding-top: 13px;
    border-top: 1px solid #ddd;
}
.iniciar-sesion a{
    color:#222 ;
    
}
.nav-menu {
    padding: 11px 0px 15px 9px;
}
.utilidades-header{
    margin-top: 18%;
}
.form-control-sm {
    border: 1px solid gray;
}
.form-control-sm {
    border: 1px solid gray;
}
.utilidades-header{
    margin-top: 18%;
}
.img-logo {
    margin: 18px 0px 16px 47px;
}
.carrito-compras-img{
    width: 20%;
    margin-top: -30%;
    margin-left: 83%;
    margin-bottom: 14%;
}
.form-inline {
    margin-top: 1%;
    width: 88%;
}
.form-control-sm {
    width: 78%;
}
.form-control-sm {
    border-radius: 0px;
    height: calc(1.2em + .5rem + 2px);
    margin-top: 7%;
}
.img-logo {
    margin: 18px 0px 16px -6px;
}
.contenedor3{
    margin-top: 25px;
}
.iniciar-sesion a{
    margin-top: 4%;
    text-align: center;
    width: 375px;
    padding: 10px 20px;
    font-weight: 700;
    font-family: Helvetica,Arial,sans-serif;
    letter-spacing: .05rem;
    cursor: pointer;
    transition-duration: .2s;
    transition-property: color,background-color,border-color;
    min-height: 45px;
    border: 1px solid #222;
    font-size: 1rem;
    color: #222;
    background-color: #fff;
    display: inline-block;
}

@media(min-width: 768px){
    .container2{ border: none;  
    }
}
@media(min-width: 1024px){
    .container2{
        border: none;
    }
    .box{
        margin-left: 95%;
        width: 510px;
    }
    .box input {
        width: 452px;
    }
    .utilidades-header {
        margin-top: 0%;
    }
    .carrito-compras-img {
        margin-left: 30%;
    }
    .form-control-sm {
        width: 75%;
    }
    .carrito-compras{
        margin-top: 3%;
    }
    .carrito-compras-img {
        width: 38%;
        margin-top: -3%;
    }
    .carrito-compras-img {
        margin-left: 29%;
    }
    .form-control-sm {
        margin-top: 0%;
    }
    .form-inline {
        width: 66%;
        margin-top: 0%;
        margin-left: -7%;
    }
    
}