*{
    box-sizing: border-box;
}

.container {
    margin-bottom: 4%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
}
.iñaki{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    /* background: #282828; */
    background: white;
    /* background-image: url(../adidas.jpg); */
    image-rendering: auto;
    
}

.box{
    width: 432px;
    padding: 40px;
    position:relative;
    /*top: 50%;
    left: 50%;
    transform: translate(-50%,-32%);*/
    justify-content: center;
    margin-top: 38%;
    border: solid 1px black;
    background: white;
}

.box h1{
    text-align: center;
    color: #222;
    /*text-transform: uppercase;*/
    border-bottom: 1px solid #ddd;
    font: 100 1.6rem/1.4 Helvetica,Arial,sans-serif;
    margin-bottom: 5%;
    letter-spacing: 1.5px;
}
.box input{
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 1px solid #aaa;
    padding: 17px 10px;
    width: 342px;
    color: black;
    transition: 0.25s;
    }
.box input[type = "submit"]{
    background: none;
    display: block;
    margin: 6px auto;
    text-align: center;
    border: 1px solid;
    padding: 11px 40px;
    outline: none;
    color: white;
    transition: 0.25s;
    cursor: pointer;
    font-size: 1.2rem;
    font-family: Helvetica,Arial,sans-serif;
    letter-spacing: .05rem;
    font-weight: 700;
    line-height: 1.4;
    background-color: #222;
}
.box input[type = "submit"]:focus{
    background-color: #2ecc71;
}
.href{
    background: none;
    border: none;
    color: #222;
    margin-top: 14px;
    padding: 0px 30px 0px 00px;
    text-decoration: none;
    display: inline-block;
    font: 0.9rem/0.9 Helvetica,Arial,sans-serif;
    letter-spacing: .05rem;
}
.google{
    margin-bottom: 30px;
}
.olvidar-contra{
    letter-spacing: inherit;
    background: none;
    cursor: pointer;
    text-decoration: underline;
    color: #767676;
    font: 0.8rem/normal Helvetica,Arial,sans-serif;
    letter-spacing: .05rem;
    text-align: center;
    margin-left: 21%;
}
.contenedor-crear-cuenta{
    display: grid;
    border-top: 1px solid #ddd;
    padding-top: 20px;
}
.contenedor-crear-cuenta h2{
    padding-bottom: 15px;
    font: 100 1.6rem/1.4 Helvetica,Arial,sans-serif;
    letter-spacing: .05rem;
    text-align: center;
    color: #222;
}
.contenedor-crear-cuenta p{
    font: 0.8rem/1.4 Helvetica,Arial,sans-serif;
    letter-spacing: .05rem;
    color: #767676;
    text-align: center;
    margin-bottom: 20px;
}
.crear{
    text-align: center;
    width: 342px;
    padding: 10px 20px;
    font-weight: 700;
    font-family: Helvetica,Arial,sans-serif;
    letter-spacing: .05rem;
    cursor: pointer;
    transition-duration: .2s;
    transition-property: color,background-color,border-color;
    min-height: 45px;
    border: 1px solid #222;
    font-size: 1rem;
    color: #222;
    background-color: #fff;
}
.titulos{
    /*padding: 0px 30px;*/
    /*text-align: center;*/
    text-decoration: none;
    display: inline-block;
    margin-top: 4%;
    font: 600 0.9rem/1.4 Helvetica,Arial,sans-serif;
    letter-spacing: .05rem;
    color: #222;
}
.recordarme-contenedor{
    display: inline-block;
}
.recordarme-contenedor input{
    float: left;
    margin: 0px;
    padding: 0px;
    width: 44px;
    margin-bottom: 10%;
}
.form-control-sm {
    border: 1px solid gray;
}
.utilidades-header{
    margin-top: 18%;
}
.contraseña-olvidar{
    margin-bottom: 6%;
}
.nav-menu {
    padding: 6px 0px 15px 9px;
}
.img-logo {
    margin: 18px 0px 16px 47px;
}
.carrito-compras-img{
    width: 20%;
    margin-top: -30%;
    margin-left: 83%;
    margin-bottom: 14%;
}
.form-inline {
    margin-top: 1%;
    width: 88%;
}
.form-control-sm {
    width: 78%;
}
.form-control-sm {
    border-radius: 0px;
    height: calc(1.2em + .5rem + 2px);
    margin-top: 7%;
}
.img-logo {
    margin: 18px 0px 16px -6px;
}
.nav-menu {
    margin: 0px 0px 0px 9px;
}
.nav-menu .menu-btn:checked ~ .menu {
    margin-top: 2px;
    margin-left:0px;
}
.box input:hover{
    color: rgb(255, 255, 255);
    background-color: rgb(118, 118, 118);
    border-width: 1px;
    border-style: solid;
    border-color: rgb(118, 118, 118);
    border-image: initial;
}

@media(min-width: 481px){
    .container{
        width: 100%;
        border: none;
        box-sizing: border-box;
    }
}
@media(min-width: 769px){
    .body{
        /* background-image: url(../adidas.jpg); */
        image-rendering: auto;
    }
    .img-logo-desktop {
        display: inline-block;
        width: 249px;
        margin-top: 9%;
        /* margin-right: 125px; */
        margin-left: -43%;
    }
    .utilidades-header-buscador-desktop {
        display: inline-block;
        margin-top: 8.6%;
        margin-left: 39%;
        /* margin-right: 19%; */
        width: 21%;
    }
    .box{
        margin-top:11%;
        width: 510px;
    }
    .box input{
        width: 452px;
    }
    .crear{
        width: 452px;
    }
    .img-logo-desktop {
        display: inline-block;
        width: 170px;
        margin-top: 15px;
        margin-right: 113px;
        margin-left: 14%;
    }
    .nav-menu {
        padding: 15px 0px 15px 9px;
    }
    .utilidades-header {
        margin-top: 0;
    }
    
    .olvidar-contra{
        margin-left: 30%;
    }
    .recordarme-contenedor input {
        float: left;
        margin: 0px;
        padding: 0px;
        width: 44px;
    }
    .recordarme-contenedor{
        margin-bottom: 2%;
    }

    .carrito-compras-img {
        width: 38%;
        margin-top: -3%;
        margin-left: 0%;
    }
    .carrito-compras-img {
        margin-left: 29%;
        margin-top: 18%;
    }
    .form-control-sm {
        margin-top: 0%;
    }
    .form-inline {
        width: 66%;
        margin-top: 0%;
        margin-left: -7%;
    }
}
