form{
 text-align: center;
}
.container-form{
   width: 100%;
   position: relative;
   padding-top: 25px;
}
.container-image{
   border: 1px black;
}
.fileinput-exists{
   color: blue;
}
@media (min-width: 481px){
.container-form{
      display: flex;
    flex-direction: row;
    height: 70%;
    width: 100%;
    flex-wrap: wrap;
    align-content: center;
    padding-top: 25px;
   }
 .form-group{
      float: right;
      width: 50%;
   }
}